<!-- <img src="../../../assets/img/home/logo horisental.svg" alt="" srcset=""> -->
<div class="main"> 
    
    <div class="category-main">
    <!-- <section id="category-details"  data-aos="zoom-in" data-aos-duration="3000"> -->
        <section id="category-details" >
            <div class="categoro-countent">
                <h1>{{'category.header' | translate }} </h1>
                <p>{{'category.content' | translate }}</p>
        </div>
        <div class="category-slider">
            <input type="radio" name="slider" id="item-1" checked>
            <input type="radio" name="slider" id="item-2">
            <input type="radio" name="slider" id="item-3">
            <div class="cards">
            <label class="card" for="item-1" id="song-1">
                <img src="../../../assets/img/Categories/IMG-7956.jpg" alt="song">
            </label>
            <label class="card" for="item-2" id="song-2">
                <img src="../../../assets/img/Categories/IMG-7582.jpg" alt="song">
            </label>
            <label class="card" for="item-3" id="song-3">
                <img src="../../../assets/img/Categories/IMG-7715.jpg" alt="song">
            </label>
            </div>
        </div>
    </section>
</div> 
</div>

