
/* rtl [dir="rtl"] 
--------------------------------*/

[dir="rtl"]  .card{
   right: 35% !important;
}


[dir="rtl"] .main{
   background-size: 24% !important;
   background-position-x: 50% !important;
}

[dir="rtl"] #category-details {
   background-position-x: 100% !important;
}