
/* Sections category
// --------------------------------*/
.main{
    box-shadow: inset 0 2px 4px -1px rgb(0 0 0 / 14%);
    background: url('../../../assets/img/home/pink\ leaves\ background\ 3.svg') center;
    background-repeat: no-repeat;
    background-position-y: 32px;
} 
#category-details{
    padding: 2rem;
    height: 80vh;
    display: grid;
    grid-template-columns: 40% 60%;
    justify-items: end;
    background: url('../../../assets/img/home/leaves\ 2.svg')bottom left;
    background-repeat: no-repeat;
    background-size: 15%;
    &:before {
      content: "";
      background: #ffcccc0d;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
}}
.categoro-countent{
    position: relative;
    top: 3rem;
    margin: 0 40px;
    left: 100px;
    h1{
        color: #FF9999;
    }
    p {
        font-size: 20px;
        font-weight: 100;
        color: #669999;
    }
}
.category-slider{
    width: 100%;
}
input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 50%;
  height: 75vh;
  left: 0;
  right: 0;
  margin: auto 100px;
  transition: transform .4s ease;
  cursor: pointer;
  box-shadow: 0 7px 6px -1px rgb(0 0 0 / 14%);
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
}

.category-slider img {
  width: 100%;
  height: 100%;
//   border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
//   transform: translatex(-40%) scale(.8);
transform: translatex(85%) scale(0.6);
//   opacity: .2;
//   z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translatex(65%) scale(.8);
//   opacity: .5;
box-shadow: 0 7px 6px -1px rgb(0 0 0 / 14%);

  z-index: 1;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
//   opacity: 1;
  z-index: 2;
  
  img {
    box-shadow: 0 7px 6px -1px rgb(0 0 0 / 14%);
  }
}

/****************************************************/

@media (max-width: 992px) {
  .categoro-countent{
    top: 0 !important;
    margin: unset !important;
    left: 0;
  }
  #category-details{
    grid-template-columns: 100% !important;
    grid-template-rows: 40%;
    justify-items: center;
    height: 100vh !important;
  }
  .main{
    background: none !important
} 
.card {
  width: 28% !important;
  height: unset !important; 
  left: unset !important;
  right: unset !important;
}
}

@media (max-width: 576px) {
  .cards {
    margin: 0 -4px;
    // width: 50% !important;
  }
}