<!-- <img src="../../../assets/img/home/logo horisental.svg" alt="" srcset=""> -->
<div class="main">
    
    <div class="category-main">
    <section id="category-details"  data-aos="zoom-in" data-aos-duration="3000">
            <div class="categoro-countent" data-aos="fade-up" data-aos-duration="3000">
                <h1>TRADITIONAL AND NATIONALCEREMONIAL DRESSES.</h1>
                <p>These are distinguished by designs that allow ladies to wear the garment on several occasions and in two distinct styles.</p>
        </div>
        <div class="category-slider" data-aos="fade-up" data-aos-duration="3000">
            <input type="radio" name="slider" id="item-1" checked>
            <input type="radio" name="slider" id="item-2">
            <input type="radio" name="slider" id="item-3">
            <div class="cards">
            <label class="card" for="item-1" id="song-1">
                <img src="../../../assets/img/Categories/IMG-7956.jpg" alt="song">
            </label>
            <label class="card" for="item-2" id="song-2">
                <img src="../../../assets/img/Categories/IMG-7582.jpg" alt="song">
            </label>
            <label class="card" for="item-3" id="song-3">
                <img src="../../../assets/img/Categories/IMG-7715.jpg" alt="song">
            </label>
            </div>
        </div>
    </section>
</div> 
</div>

