<div class="main">
    <div class="container">
        <!-- start category  -->
        <section id="category">
                <div class="content">
                    <div class="row mt-4">
                        <div class="col-lg-8">
                            <div class="categoro-countent">
                                    <h1>TRADITIONAL AND NATIONALCEREMONIAL DRESSES.</h1>
                                    <p>These are distinguished by designs that allow ladies to wear the garment on several occasions and in two distinct styles.</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="box-category">
                                <div class="background-shadows"></div>
                                <img src="../../../assets/img/Categories/IMG-7956.jpg" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <!-- end category  -->
        </div>
</div>

