/* rtl [dir="rtl"] 
--------------------------------*/
[dir="rtl"] #header nav {
    .logo {
        left: 15px;
        right: unset !important;
        position: relative;
    }

    .nav-item .nav-link {
        font-size: 2.5rem !important;
    }
}

[dir="rtl"] .dropdown__item {
    width: 100%;
    span{
    font-size: 1.5rem !important;
    }
}

[dir="rtl"] #header nav .nav-item img {
    top: 10px !important;
    position: relative !important;
}

[dir="rtl"] .dropdown :hover .dropdown__list {
    transform: translatey(0) translateX(0) !important;
}
[dir="rtl"]  #header  nav  img  {
    width: 12%;
    margin: 1% 25% 1% 0!important;
}

@media (max-width: 768px) {
    [dir="rtl"] .dropdown :hover .dropdown__list {
        transform: translatey(0) translateX(-100%) !important;
    }
    [dir="rtl"]  #header  nav  img  {
        width: 35%;
    }
}

