<!-- Start Header -->
<section id="header">
    <nav class="navbar navbar-expand-lg navbar-light category-box-shadow" [class.is-sticky]="(hasScrolledBanner)">
        <div class="header-mobile d-flex justify-content-between">
            <button class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> 
            <div class="logo" [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <img src="../../../assets/img/logo/logo05.png" width="100" alt="">
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02"  [ngbCollapse]="navbarCollapsed">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <img src="../../../assets/img/logo/logo05.png" alt="">
                <li class="nav-item active">
                    <a class="nav-link" data-toggle="collapse" data-target=".nav-collapse"  (click)="onClick('home')" routerLink="/home" routerLinkActive="active">{{'navbar.Home' | translate }} </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" data-target=".nav-collapse" (click)="onClick('about')" routerLink="/home" >{{'navbar.About-us' | translate }}</a>
                </li>
                <!-- <li  class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link">
                        <button class="dropdown__btn">
                            {{'navbar.Categories' | translate }}
                        </button>
                        <div class="dropdown__list">
                            <a (click)="onClick('categorie')" routerLink="/categorie" class="dropdown__item">Categorie 1 </a>
                            <a routerLink="categorie" class="dropdown__item">Categorie 2 </a>
                            <a routerLink="categorie" class="dropdown__item">Categorie 3 </a>
                        </div>
                    </a>
                    </div> 
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" (click)="onClick('footer')" routerLink="/home">{{'navbar.Contact-us' | translate }}</a>
                </li>
               
                <li  class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link">
                        <button class="dropdown__btn">
                            {{'navbar.Language' | translate }}
                        </button>
                        <div class="dropdown__list">
                            <a class="nav-link dropdown__item d-flex justify-content-between" (click)="changeLangage('ar')">
                                <span>Arabic</span> 
                            </a>
                            <a class="nav-link dropdown__item d-flex justify-content-between" (click)="changeLangage('en')">
                                <span>English</span>
                            </a>
                        </div>
                    </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</section>
<!-- End Header -->  