<app-navbar></app-navbar>
 <router-outlet></router-outlet>
<app-footer></app-footer>

<!-- <div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
    <button type="button" class="btn active" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
        <i class="fas fa-chevron-up" ></i>
    </button>
  </div> -->

<!--body content end-->
<!-- <div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
  <button class="btn btn-up-donw" (click)="scrollToTop()">
    <fa-icon icon="chevron-up" class="icon"></fa-icon>
  </button>
</div> -->
<!--back-to-top start-->