.scroll-to-top {
    position: fixed;
    bottom: 60px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
    z-index: 1;
    .btn{
       padding: .375rem .75rem;
    }
 }

 .show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
 }
 .btn-up-donw{
   color: #FF9999;
   background-color: #fff;  
   box-shadow: 1px 1px 6px -1px #ff9999;
   border-radius: 10px;  
   cursor: pointer; 
   &:hover{
       color: #fff;
       background-color: #FF9999 !important;  
   }   
}