
<div class="page-wrapper row">
  <div class="col-lg-12 p-0">
    <div class="top-wrapper">
      <app-navbar></app-navbar>
    </div>
  </div>
  <div class="col-lg-12 p-0">
    <div class="countent-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="col-lg-12 p-0">
    <div class="footer-wrapper">
      <app-footer></app-footer>
    </div>
  </div>
</div>

<!-- <div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
    <button type="button" class="btn active" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
        <i class="fas fa-chevron-up" ></i>
    </button>
  </div> -->

<!--body content end-->
<!-- <div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
  <button class="btn btn-up-donw" (click)="scrollToTop()">
    <fa-icon icon="chevron-up" class="icon"></fa-icon>
  </button>
</div> -->
<!--back-to-top start-->