

.pt-8{
    padding: 2rem 2rem;
}
#main .main-container 
{
    background: url('../../../assets/img/home/fabric.svg');
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    margin: 0;
    .container{
        max-width: 970px !important;
    }
}
/* Sections home
--------------------------------*/
#home {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

#home:before {
    content: "";
    // background: rgb(255 255 255 / 97%);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#home .logo img{
    width: 60%;
    margin: auto;
    display: flex;;
    margin-top: 5rem;
}

#home h3 {
    width: 85%;
    margin: auto;
    text-align: center;
    word-wrap: break-word;
    color: #669999 !important;
}

/* Sections category
--------------------------------*/
#category{
    background: 
    url('../../../assets/img/home/water\ color\ background.svg'),
    url('../../../assets/img/home/leaves\ 2.svg'),
    url('../../../assets/img/home/water\ color\ background.svg'),
    url('../../../assets/img/home/pink\ leaves\ background\ 4.svg'),
    url('../../../assets/img/home/leaves.svg');
    background-repeat: no-repeat;
    background-size: 60%, 12%, 70%, 30%, 40%;
    background-position-x: 120%, 50%, -30%, 10%, 100%;
    background-position-y: 10%, 25%, 70%, 101%, 100%;
    height: auto;
}

#category .container{
    // position: relative;
    // top: -15rem;
    // padding: 5rem 0;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
    box-shadow: 0px 9px 9px 0px #41464b1c;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
    // background-color: #ffffffb3;

}

#category .content{
    padding: 40px 0;
    .content-1{
        display:grid;
        grid-template-columns: 40% 60%;
    }
    .category-web{
        display: block !important;
    }
    .category-mobile{
        display: none !important;
    }
    .box-category-1 {
        width: 120%;
        overflow: visible;
        background: url('../../../assets/img/home/photo\ background\ 1.svg');
        background-repeat: no-repeat;
        background-position-x: left;
        position: relative;
        transform: translate(-6rem, 0px);
        border-radius: 10px;
        img{
            width: 100%;
            transform: translate(4.9rem, 3rem);
            border-radius: 10px;
        } 
    
    }
    .content-2{
        display:grid;
        grid-template-columns: 60% 40%;
   
    .box-category-2 {
        width: 120%;
        overflow: visible;
        background: url('../../../assets/img/home/photo\ background\ 2.svg');
        background-repeat: no-repeat;
        background-position-x: right;
        position: relative;
        transform: translate(6rem, 0px);
        border-radius: 10px;
        img{
            width: 100%;
            transform: translate(-3rem, 3rem);
            border-radius: 10px;
        }
    
    }
    }
    .content-3{
        display:grid;
        grid-template-columns: 40% 60%;;
        padding:4rem 0;
    }
} 
.categoro-countent{
    left: 40px;
    position: relative;
    top: 75px;
    padding: 1rem;
    h1{
        font-size: 3rem;
        color: #FF9999;
    }
    p {
        font-size: 16px;
        font-weight: 100;
        color: #669999;
    }
    .explore {
        .btn-explore{
            color: #FF9999;
            background-color: #fff;  
            box-shadow: 1px 1px 6px -1px #ff9999;
            border-radius: 10px;  
            cursor: pointer; 
            &:hover{
                color: #fff;
                background-color: #FF9999 !important;  
            }   
        }
        span{
            margin: 5px;
            fa-icon.ng-fa-icon {
                font-size: 1.5rem;
                color: #FF9999;
                top: 4px;
                position: relative;
            }
        }
    }
    
}
/*End  Sections category
--------------------------------*/

/* Sections About
--------------------------------*/
#about {
    padding: 2rem;
    h1{
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 10px;
        color: #669999;
    }
    p{
        text-align: center;
        color: #669999;
        font-size: 1.5rem;
    }
}
/* End Sections About
--------------------------------*/

/*---------------mobile response web design----------------------*/

@media (max-width: 992px) {  
    #main .main-container 
    {
    background: url('../../../assets/img/home-mobile/fabric_1.svg');
    background-repeat: no-repeat !important;
    background-size:185%;
    overflow: hidden !important;
    }
    /*--------------------------home----------------------------------*/
    #home {
       height: auto !important;
    }
    #home .logo img{
        margin: 0 auto;
    }
    #home h3 {
        
        font-size: 0.8rem;
    }
    /*--------------------------category---------------------------------*/
    #category 
    {
        background: 
        url('../../../assets/img/home/water\ color\ background.svg'),
        url('../../../assets/img/home/pink\ leaves\ background\ 4.svg')!important;
        background-repeat: no-repeat !important;
        background-size: 80%, 55% !important;
        background-position-x: 0%, 120% !important;
        background-position-y: 10%, 60% !important;
        height: auto;
        .container {
            padding-top: 15%;
            padding-bottom: 4rem;
            margin-bottom: 2rem;
            box-shadow: none !important;
            border-bottom-left-radius:0 !important;
            border-bottom-right-radius:0!important;
            background-color: none !important;
        }
        .content 
        {
            padding: 0;
            .box-category-1 ,.box-category-2 ,.box-category-3 {
                background:none !important;
                // img{
                //     width: 65%;
                // }
            }
            .category-web{
                display: none !important;
            }
            .category-mobile{
                display: block !important;
            }
        }
        .categoro-countent {
            left: 0;
            position: relative;
            top: 120px;;
        }
    }

    /*--------------------------about----------------------------------*/
    #about {
        .container{
            box-shadow: 0px 2px 20px 9px #41464b1c !important;
            border-radius: 10px;
            padding: 1rem;
        }
        h1{
            font-size: unset !important;
        }
        p{
            font-size: unset !important;    
        }
    }
}
@media (max-width: 576px) { 
 /*--------------------------category---------------------------------*/
.categoro-countent {
        left: 0;
        position: relative;
        top: 100px;;
        h1{
            font-size: 1.3rem;
        }
        p {
            font-size: .8rem;
        }
        .explore {
            .btn{
                font-size:.5rem;
            }
        }
    }
 }
