
<!-- start main -->
<main id="main">
    <div class="img-background"></div>
    <div class="main-container" data-aos="zoom-in" data-aos-duration="3000">
        <div class="container"  data-aos="fade-up" data-aos-duration="1000">
            <!-- start home  -->
            <section id="home" routerLink="home">
                <div class="logo">
                </div>
                <h5>{{'home.Home.about' | translate }} </h5>
            </section>
            <!-- End home  -->
        </div>
            <!-- start category  -->
            <section id="category" >
                <div class="section-header">
                    <h2>{{'home.category.header' | translate }}</h2>
                </div> 
                    <div class="content">
                        <div class="content-1">
                            <div class="container"  data-aos="zoom-in-up" data-aos-duration="3000">
                                <div class="row" >
                                    <div class="col-lg-4">
                                        <div class="box-category-1">
                                            <div class="background-shadows"></div>
                                            <img src="../../../assets/img/Categories/IMG-7956.jpg" alt="" srcset="">
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="categoro-countent">
                                            <h1>{{'home.categoro-01.WEDDING-AND-FESTIVE-DRESSES' | translate }} </h1>
                                            <p>{{'home.categoro-01.categoro-countent' | translate }} </p>
                                            <div class="explore">
                                                <button type="button" class="btn btn-explore">EXPLORE</button>
                                                <!-- <span> <fa-icon icon="angle-right"></fa-icon> </span> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-2">
                            <div class="container"  data-aos="fade-up" data-aos-duration="3000">
                                <div class="row mt-8" >
                                    <div class="col-lg-8">
                                        <div class="categoro-countent">
                                                <h1>{{'home.categoro-02.TRADITIONAL-NATIONAL' | translate }}</h1>
                                                <p>{{'home.categoro-02.categoro-countent' | translate }}</p>
                                                <div class="explore">
                                                    <button type="button" class="btn btn-explore">EXPLORE</button>
                                                    <!-- <span> <fa-icon icon="angle-right"></fa-icon> </span> -->
                                                </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-4" >
                                        <div class="box-category-2">
                                            <div class="background-shadows"></div>
                                            <img src="../../../assets/img/Categories/IMG-7956.jpg" alt="" srcset="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-3">
                            <div class="container"data-aos="fade-up" data-aos-duration="3000">
                                <div class="row mt-8" >
                                    <div class="col-lg-4">
                                        <div class="box-category-1">
                                            <div class="background-shadows"></div>
                                            <img src="../../../assets/img/Categories/IMG-7956.jpg" alt="" srcset="">
                                        </div>
                                    </div>
                                    <div class="col-lg-8" >
                                        <div class="categoro-countent">
                                            <h1>{{'home.categoro-03.WEDDING-FESTIVE' | translate }} </h1>
                                            <p>{{'home.categoro-03.categoro-countent' | translate }}</p>
                                            <div class="explore">
                                                <button type="button" class="btn btn-explore">EXPLORE</button>
                                                <!-- <span> <fa-icon icon="angle-right"></fa-icon> </span> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- end category  -->
        
    </div>
    <!--START About -->
    <section id="about" routerLink="about">
        <div class="container" data-aos="fade-up"  data-aos-duration="3000">
            <div class="section-header">
                <h2>{{'home.About.header' | translate }}</h2>
            </div>
                <p>
                    {{'home.About.text' | translate }}
                </p>
        </div>
    </section>
    <!--END   About -->
</main>
<!-- End  main -->

