
/* rtl [dir="rtl"] 
--------------------------------*/

[dir="rtl"]  #category .content {
    .box-category-1 {
        transform: translate(6rem, 0px) !important;
    }
    .box-category-2 {
        transform: translate(-6rem, 0px) !important;
    }
}


[dir="rtl"]  #category{
    background-size: 60%, 20%, 80%, 30%, 40% !important;
    background-position-x: -40%, 70%, 193%, 95%, -15% !important;
    background-position-y: 5%, 25%, 70%, 101%, 100% !important;
}
