<!-- start main -->
<main id="main">
    <div class="container">
        <!-- start home  -->
        <section id="home" #home>
            <div class="logo">
                <img src="../../../assets/img/logo/logo.png" alt="" srcset="">
            </div>
            <h3>{{'home.Home.about' | translate }} test</h3>
        </section>
        <!-- End home  -->  
     
        <!-- start category  -->
        <section id="category" class="category" #category>
            <div class="section-header">
                <h2>{{'home.category.header' | translate }}</h2>
            </div>
            <div class="content">
                <div class="content-1" > 
                    <div class="box-category-1">
                        <img class="category-web" src="../../../assets/img/Categories/IMG-7956.jpg" alt=""
                            srcset="">
                        <img class="category-mobile" src="../../../assets/img/home-mobile/01.jpg" alt=""
                            srcset="">
                    </div>
                    <div class="categoro-countent">
                        <h1>{{'home.categoro-01.TRADITIONAL-NATIONAL' | translate }} </h1>
                        <p>{{'home.categoro-01.categoro-countent' | translate }} </p>
                        <!-- <div class="explore">
                            <button type="button" class="btn btn-explore">{{'home.explore.explore' | translate
                                }} </button>
                        </div> -->
                    </div>
                </div>
                <div class="content-2">
                    <div class="categoro-countent">
                        <h1>{{'home.categoro-02.FESTIVE-AND-WEDDING-DRESSES' | translate }}</h1>
                        <p>{{'home.categoro-02.categoro-countent' | translate }}</p>
                        <!-- <div class="explore">
                            <button type="button" class="btn btn-explore">{{'home.explore.explore' | translate
                                }} </button>
                        </div> -->
                    </div>
                    <div class="box-category-2">
                        <img class="category-web" src="../../../assets/img/Categories/IMG-7582.jpg" alt=""
                            srcset="">
                        <img class="category-mobile" src="../../../assets/img/home-mobile/02.jpg" alt=""
                            srcset="">
                    </div>
                </div>
                <div class="content-3">
                    <div class="box-category-1">
                        <img class="category-web" src="../../../assets/img/Categories/IMG-7765.jpg" alt=""
                            srcset="">
                        <img class="category-mobile" src="../../../assets/img/home-mobile/01.jpg" alt=""
                            srcset="">
                    </div>
                    <div class="categoro-countent">
                        <h1>{{'home.categoro-03.DAILY-CLOTHES-AND-GALABIYAS' | translate }} </h1>
                        <p>{{'home.categoro-03.categoro-countent' | translate }}</p>
                        <!-- <div class="explore">
                            <button type="button" class="btn btn-explore">{{'home.explore.explore' | translate
                                }} </button>
                        </div> -->
                    </div>
                </div>
                <div class="content-4">
                    <div class="categoro-countent">
                        <h1>{{'home.categoro-04.JALABIYAS-FOR-RELIGIOUS-OCCASION' | translate }}</h1>
                        <p>{{'home.categoro-04.categoro-countent' | translate }}</p>
                        <!-- <div class="explore">
                            <button type="button" class="btn btn-explore">{{'home.explore.explore' | translate
                                }} </button>
                        </div> -->
                    </div>
                    <div class="box-category-2">
                        <img class="category-web" src="../../../assets/img/Categories/IMG-7582.jpg" alt=""
                            srcset="">
                        <img class="category-mobile" src="../../../assets/img/home-mobile/02.jpg" alt=""
                            srcset="">
                    </div>
                </div> 
                <div class="content-5">
                    <div class="box-category-1">
                        <img class="category-web" src="../../../assets/img/Categories/IMG-7765.jpg" alt=""
                            srcset="">
                        <img class="category-mobile" src="../../../assets/img/home-mobile/01.jpg" alt=""
                            srcset="">
                    </div>
                    <div class="categoro-countent">
                        <h1>{{'home.categoro-05.CLOTHES-FOR-TRAVEL-AND-EXCURSIONS' | translate }} </h1>
                        <p>{{'home.categoro-05.categoro-countent' | translate }}</p>
                        <!-- <div class="explore">
                            <button type="button" class="btn btn-explore">{{'home.explore.explore' | translate
                                }} </button>
                        </div> -->
                    </div>
                </div>
                <div class="content-6">
                    <div class="categoro-countent">
                        <h1>{{'home.categoro-06.ABAYAS' | translate }}</h1>
                        <p>{{'home.categoro-06.categoro-countent' | translate }}</p>
                        <!-- <div class="explore">
                            <button type="button" class="btn btn-explore">{{'home.explore.explore' | translate
                                }} </button>
                        </div> -->
                    </div>
                    <div class="box-category-2">
                        <img class="category-web" src="../../../assets/img/Categories/IMG-7582.jpg" alt=""
                            srcset="">
                        <img class="category-mobile" src="../../../assets/img/home-mobile/02.jpg" alt=""
                            srcset="">
                    </div>
                </div> 
            </div>
        </section>
        <!-- end category  -->

    </div>

</main>
<!-- End  main --> 

    <!--START About -->
    <section id="about" #about>
        <div class="container">
            <div class="section-header">
                <h1>{{'home.About.header' | translate }}</h1>
            </div>
            <p>
                {{'home.About.text' | translate }}
            </p>
        </div>
    </section>
    <!--END   About -->
