<!-- start main -->
<main id="main">
    <div class="container" data-aos="fade-up" data-aos-duration="3000">
 
        <!-- start home  -->
        <section id="home" #home>
            <div class="logo">
                <img src="../../../assets/img/logo/logo.png" alt="" srcset="">
            </div>
            <h3>{{'home.Home.about' | translate }} </h3>
        </section>
        <!-- End home  -->

        <!-- start category  -->
        <section id="category" class="category" #category>
            <div class="section-header">
                <h2>{{'home.category.header' | translate }}</h2>
            </div>
            <div class="content">
                <div class="content-1" data-aos="zoom-in-up">
                    <div>
                        <div class="box-category-1">
                            <img class="category-web" src="../../../assets/img/Categories/IMG-7956.jpg" alt=""
                                srcset="">
                            <img class="category-mobile" src="../../../assets/img/home-mobile/girl-01.svg" alt=""
                                srcset="">
                        </div>
                    </div>
                    <div>
                        <div class="categoro-countent">
                            <h1>{{'home.categoro-01.WEDDING-AND-FESTIVE-DRESSES' | translate }} </h1>
                            <p>{{'home.categoro-01.categoro-countent' | translate }} </p>
                            <div class="explore">
                                <button type="button" class="btn btn-explore">{{'home.explore.explore' | translate
                                    }} </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-2" data-aos="fade-up">
                    <div>
                        <div class="categoro-countent">
                            <h1>{{'home.categoro-02.TRADITIONAL-NATIONAL' | translate }}</h1>
                            <p>{{'home.categoro-02.categoro-countent' | translate }}</p>
                            <div class="explore">
                                <button type="button" class="btn btn-explore">{{'home.explore.explore' | translate
                                    }} </button>
                                <!-- <span> <fa-icon icon="angle-right"></fa-icon> </span> -->
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="box-category-2">
                            <img class="category-web" src="../../../assets/img/Categories/IMG-7956.jpg" alt=""
                                srcset="">
                            <img class="category-mobile" src="../../../assets/img/home-mobile/girl-02.svg" alt=""
                                srcset="">
                        </div>
                    </div> 
                </div>
                <div class="content-3" data-aos="fade-up">
                    <div>
                        <div class="box-category-1">
                            <img class="category-web" src="../../../assets/img/Categories/IMG-7956.jpg" alt=""
                                srcset="">
                            <img class="category-mobile" src="../../../assets/img/home-mobile/girl-01.svg" alt=""
                                srcset="">
                        </div>
                    </div>
                    <div>
                        <div class="categoro-countent">
                            <h1>{{'home.categoro-03.WEDDING-FESTIVE' | translate }} </h1>
                            <p>{{'home.categoro-03.categoro-countent' | translate }}</p>
                            <div class="explore">
                                <button type="button" class="btn btn-explore">{{'home.explore.explore' | translate
                                    }} </button>
                                <!-- <span> <fa-icon icon="angle-right"></fa-icon> </span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end category  -->

    </div>

</main>
<!-- End  main --> 

    <!--START About -->
    <section id="about" #about>
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h1>{{'home.About.header' | translate }}</h1>
            </div>
            <p>
                {{'home.About.text' | translate }}
            </p>
        </div>
    </section>
    <!--END   About -->
