@import '/src/app/pages/home/home.component.ltr.scss';
@import '/src/app/pages/categories/categories.component.ltr.scss';
@import '/src/app/shared/navbar/navbar.component.ltr.scss';
@import '/src/app/shared/footer/footer.component.ltr.scss';

@font-face {
    font-family: font-Arabtype;
    src: url(./assets/font/ARABTYPE.TTF);
  }
[dir="rtl"] * {
	font-family: "font-Arabtype" , sans-serif !important;
}
[dir="rtl"] {
    .section-header h2 {
        font-size: 40px !important;
    }
}


/* rtl [dir="rtl"]  nav
--------------------------------*/
[dir="rtl"]  #header nav .nav-item .nav-link {
    font-size: 2.5rem !important;
}
[dir="rtl"]  .dropdown__item{
    font-size: 1.5rem !important;
}

[dir="rtl"]  #header nav .nav-item img {
    top: 10px !important;
    position: relative !important;
}