<configuration>
   <system.webServer>
      <rewrite>
         <rules>

            <!-- HTTPS Redirection Rule -->
             <rule name="Redirect to https" stopProcessing="true">
               <match url=".*" />
               <conditions>
                  <add input="{HTTPS}" pattern="off" ignoreCase="true" />
               </conditions>
               <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
            </rule> 

            <!-- Angular Routes Configuration Rule -->
            <rule name="Angular Routes" stopProcessing="true">
               <match url=".*" />
               <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
               </conditions>
               <action type="Rewrite" url="/index.html" />
            </rule>

         </rules>
      </rewrite>
      <security>
         <requestFiltering>
            <fileExtensions>
               <add fileExtension=".json" allowed="true" />
            </fileExtensions>
         </requestFiltering>
   </security>
   <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />

   </staticContent>
   
   </system.webServer>
</configuration>




