<!-- footer  -->
<footer id="footer" data-aos="zoom-in" data-aos-duration="3000">
    <div class="footer-border"></div>
    <div class="row">
        <div class="col-lg-4 col-md-6 footer-info"  data-aos="fade-up" data-aos-duration="3000">
            <img src="../../../assets/img/logo/logo.png" class="img=fluid" alt="TheEvenet">
        </div>
        <div class="col-lg-4 col-md-6 footer-links"  data-aos="fade-up" data-aos-duration="3000">
            <h4> {{'footer.LOCATION' | translate }} </h4>
            <ul>
                <li>Dubai International any location th Street,</li>
                <li>Al Sample Area, Dubai, U.A.E. P.O. Box 11116</li>
                <li>another location, what to, say that</li>
                <li>PHONE : 87653567 00965</li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-6 footer-contact"  data-aos="fade-up" data-aos-duration="3000">
            <h4> {{'footer.SOCIAL' | translate }}</h4>
            <div class="social-links">
                <a  routerLink="/" class="facebook">
                    <img src="../../../assets/img/footer/facebook.png" alt="" srcset="">
                </a>
                <a  routerLink="/" class="twitter">
                    <img src="../../../assets/img/footer/twitter.png" alt="" srcset="">
                </a>
                <a  routerLink="/" class="instagram">
                    <img src="../../../assets/img/footer/instagram.png" alt="" srcset="">
                </a>
                <a  routerLink="/" class="phone">
                    <img src="../../../assets/img/footer/call.png" alt="" srcset="">
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- End  Footer -->