/* rtl [dir="rtl"] 
--------------------------------*/
[dir="rtl"] #footer {
    h4 {
        font-size: 50px !important;
        text-align: center;
    }

    .footer-links {
        padding-left: 0 !important;

        ul{
            text-align: center;
         li {
            font-size: 16px !important;
         }
        }
    }

    .footer-contact {
        padding-left: 0 !important;
    }

    .social-links {
        text-align: center;
    }
}