
<!-- footer  -->
<footer id="footer">
    <div class="footer-border"></div>
    <div class="row">
        <div class="col-lg-4 col-md-6 footer-info">
        <img src="../../../assets/img/logo/logo.png" class="img=fluid" alt="TheEvenet">
        <!-- <p>
            Dubai International any location 44th Street,<br>
            Al Sample Area, Dubai, U.A.E. P.O. Box 11116<br>
            another location, what to, say that <br>
            <strong>Phone:</strong> 87653567 00965<br>
        </p> -->
        </div>
        <div class="col-lg-4 col-md-6 footer-links">
        <h4>LOCATION</h4>
        <ul>
            <li>Dubai International any location th Street,</li>
            <li>Al Sample Area, Dubai, U.A.E. P.O. Box 11116</li>
            <li>another location, what to, say that</li>
            <li>PHONE : 87653567 00965</li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-6 footer-contact">
        <h4>SOCIAL</h4>
        <div class="social-links">
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-telephone-fill"></i></a>
        </div>
        </div>
    </div>
</footer>
    <!-- End  Footer -->