<!-- footer  -->
<footer id="footer" #footer >
    <div class="footer-border"></div>
    <div class="row">
        <div class="col-lg-4 col-md-6 footer-info"   >
            <img src="../../../assets/img/logo/logo.png" class="img=fluid" alt="TheEvenet">
        </div>
        <div class="col-lg-4 col-md-6 footer-links"  >
            <h4> {{'footer.LOCATION' | translate }} </h4>
            <ul class="text-center">
                <li>{{'footer.Street' | translate }}</li>
                <li>{{'footer.Working-hours' | translate }}</li>
                <li>{{'footer.Working-days' | translate }}</li>
                <li>{{'footer.phone' | translate }} </li>
            </ul>
        </div> 
        <div class="col-lg-4 col-md-6 footer-contact"   >
            <h4> {{'footer.SOCIAL' | translate }}</h4>
            <div class="social-links">
                <a  routerLink="/" class="facebook">
                    <img src="../../../assets/img/footer/facebook.png" alt="" srcset="">
                </a>
                <a  routerLink="/" class="twitter">
                    <img src="../../../assets/img/footer/twitter.png" alt="" srcset="">
                </a>
                <a  routerLink="/" class="instagram">
                    <img src="../../../assets/img/footer/instagram.png" alt="" srcset="">
                </a>
                <a  routerLink="/" class="phone">
                    <img src="../../../assets/img/footer/call.png" alt="" srcset="">
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- End  Footer -->